@CHARSET "UTF-8";

html, body { 
	height: 100%;
	font-family: sans-serif;
	font-size: 90%;
}

body {
	margin: 0px;
	background: red;
}
table#masterTable {
	background: white;
	width: 100%;
	height: 100%;
}

table#masterTable > tbody > tr > th#masterHeader {
	background: #3C6F96;
	height: 100px;
	vertical-align: middle;
	border-bottom: 1px solid #100f35;
}

table#masterTable > tbody > tr > td#masterFooter {
	border-top: 1px solid #100f35;
	background: #3C6F96;
	text-align: right;
}

td#masterContentMenu {
	background: #3C6F96;
	border-right: 1px solid #100f35;	
	width: 200px; 
	vertical-align: top;
	padding: 10px;
}

div.menuDiv2 {
	padding-left: 25px;
}

div.menuDiv3 {
	padding-left: 35px;
}

div.menuDiv1, div.menuDiv2, div.menuDiv3 {
	border-bottom: 1px dotted #fafafa;
}

div.menuDiv1:HOVER, div.menuDiv2:HOVER, div.menuDiv3:HOVER {
	background: #585874;	
}

div.menuDiv1 a, div.menuDiv2 a, div.menuDiv3 a  {
	width: 100%;
	color: black;
	font-style: normal;
	text-decoration: none;
	display: block;
	padding-top: 2px;
	padding-bottom: 2px;
}

table#masterTable > tbody > tr#masterContent {
	height: 100%;
}

td#masterContentPlaceholder {
	vertical-align: top;
	padding: 10px;
}

table.casesTable {
	width: 100%;	
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	border-left: 1px solid black;
}

table.casesTable td, table.casesTable th {
	border-left: 1px solid black;
	border-top: 1px solid black;
	text-align: center;
}

table.casesTable th {
	border-top: 2px solid black;
	border-bottom: 1px solid black;
	background: #3C6F96;	
}

table.casesTable {
	width: 300px;	
	border-bottom: 2px solid black;
	border-right: 1px solid black;
	border-top: 1px solid black;
}

table.casesTable td, table.casesTable th {
	padding: 5px 5px 5px 5px;
	border-right: 1px solid black;
	border-top: 1px solid black;
	text-align: center;
}

table.casesTable th {
	border-top: 1px solid black;
	border-left: 2px solid black;
	border-right: 1px solid black;
	background: #3C6F96;
	text-align: right;	
}